<div class="container mt-5 pt-5 d-flex flex-wrap">

    <div class="col-md-6"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam viverra nulla, id gravida purus. Nulla facilisi. Suspendisse lorem augue, semper in eros vehicula, convallis mattis nunc. Ut tempus ultricies lectus nec volutpat. Nullam ullamcorper posuere nisl. Etiam molestie orci lacus, ac maximus turpis viverra id. Proin ligula turpis, placerat et consequat a, placerat id justo. Sed vestibulum ipsum vulputate, eleifend elit id, lobortis lacus. Aliquam tempor porttitor ipsum vel fermentum. Vestibulum vulputate magna quis nisi convallis, porta elementum justo fringilla.
            <br></br>
            Nunc nec bibendum orci. In nisl dui, tempus ut tincidunt sed, interdum vitae neque. Maecenas eu cursus mauris. Cras leo ipsum, feugiat quis consequat id, sollicitudin sagittis mi. Phasellus sapien mauris, faucibus at tincidunt sed, varius eget dolor. Vestibulum massa elit, eleifend at euismod vel, tincidunt nec lacus. Aenean mollis orci purus, sit amet sodales lacus viverra quis. Donec quis arcu eget urna pretium vehicula. Curabitur tincidunt purus in diam varius sollicitudin. Cras et neque cursus, posuere nulla non, finibus neque. Curabitur mollis est vel erat hendrerit efficitur. Etiam eget tellus sem. Donec vestibulum quam vitae dolor venenatis, eget euismod diam euismod.
            <br><br>
            Duis luctus mollis ligula a elementum. Ut dapibus maximus interdum. Nunc fringilla elit imperdiet, blandit ipsum vel, posuere arcu. Phasellus tempor ligula eu augue bibendum semper. Curabitur ultricies sit amet nulla non accumsan. Phasellus ac venenatis lorem. Vestibulum tempor, libero at molestie tempor, sapien tortor volutpat risus, id dictum velit quam at lectus. Aenean in mauris aliquam sem ultrices tristique nec et erat. Etiam condimentum diam nulla, vel sodales tortor bibendum ac. Donec mattis faucibus elementum. Nam molestie, ex eu ornare efficitur, risus dolor consequat velit, a blandit felis lectus at tellus. Mauris dictum pretium nulla non scelerisque. Integer efficitur aliquet viverra. Morbi non mattis augue, quis sodales nibh. Ut aliquam lacinia elit in scelerisque. Curabitur eleifend sem at pellentesque venenatis.
        </p> <br>
    </div>
    <div class="col-md-6">
            <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="font-weight-bold">Etiam molestie orci lacus</span>
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="font-weight-bold">Collapsible Group Item #2</span>
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="font-weight-bold">Collapsible Group Item #3</span>
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</div>