<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div>
        <span ng-show="quantityMax">
            <select class="form-control col-md-3" name="quantity" id="quantity" ng-model="q"
                ng-options=" v for v in qtyOpt"></select>
        </span><br>
        <a class="btn btn-primary d-block text-center" ng-controller="searchController"
            ng-click="ngCart.addItem(id, name, price, q, data);added()" ng-transclude></a>
    </div>
    <mark ng-show="inCart()" ng-controller="searchController" class="p-0">

    </mark>
</div>