<div class="mt-5 pt-5 container">
<div ng-repeat="order in messages" class="container" ng-hide="!order.orders">
        <h3> <i class="fas fa-truck"></i> Order <span>by {{order.firstName}} {{order.lastName}} </span> </h3>
        <i class="fas fa-address-book"></i> {{order.phone}} || {{order.email}}<br>
        <i class="fas fa-map-marked-alt"></i> {{order.country}}, {{order.city}}, {{order.address}}
  <ul ng-repeat="item in order.orders" class="pl-0">
      <li class="list-group-item">
            <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="items in item.items" ng-controller="searchController">
                            <td><a style="text-decoration: none;" ui-sref="product({id:items._id})">{{items._name}}</a></td>
                            <td>{{items._quantity}}</td>
                            <td>{{items._price | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                Total: {{item.total | currency}}
        </li>
  </ul>
</div>
</div>