<div class="mt-5 pt-5 container">

        <div class="msg alert alert-success" ng-show="msg">
                <h5 class="text-center">{{msg}}</h5>
        </div>
        <div class="msg alert alert-danger" ng-show="msgDel">
                <h5 class="text-center">{{msgDel}}</h5>
        </div>

    <h3>All created categories:</h3>
    <ul class="list-group col-md-4">
        <li class="list-group-item" ng-repeat="category in categories"><h5 class="d-inline-block">{{category.category}}</h5>
            <button class="btn btn-danger btn-sm float-right" ng-click="deleteCat(category)" ng-hide="!loggedIn"
                ng-if="userUID === adminUID"><i class="fas fa-trash-alt"></i></button>
        </li>
    </ul>


    <form class="col-md-4 p-0">
        <input type="text" class="form-control" ng-model="category" placeholder="Add category">
        <button type="submit" class="btn btn-success text-white mt-1" ng-click="addCategory()">Add Category</button>
    </form>
</div>