<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="overlay"></div>
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://cdn.pixabay.com/photo/2018/02/24/21/40/smartphone-3179295_960_720.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h4 class="display-5">Check out the best prices on internet!</h4>
          <a ui-sref="products" class="btn btn-primary text-white">See more</a>
        </div>
      </div>
      
    </div>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          </ol>
  </div>
</header>

<h2 class="text-center mt-5 mb-4">On sale</h2>

<div class="d-flex flex-wrap container justify-content-between onsale">
  <div class="card ml-2 mr-2" ng-repeat="product in products | limitTo:6" ng-show="product.discount > 0" style="width:15rem">
    <div class="ribbon"><span ng-if="product.discount > 0">SALE</span></div>
      <div class="admin_area">
        <div class="outer d-inline-block" uib-tooltip="Edit" tooltip-trigger="'mouseenter'" tooltip-enable="flag"
          tooltip-is-open="isOpen">
          <div class="layer"></div>
          <a ui-sref="editproduct({id:product.id})" class="btn btn-success btn-sm mt-2 tip-top" ng-hide="!loggedIn"
            ng-if="userUID === adminUID" data-toggle="tooltip" data-placement="top" title="Some text"><i
              class="far fa-edit"></i></a>
        </div>

        <div class="outer d-inline-block" uib-tooltip="Delete" tooltip-trigger="'mouseenter'"
          tooltip-enable="flagDelete" tooltip-is-open="isOpens">
          <div class="layer"></div>
          <button class="btn btn-danger btn-sm mt-2" ng-click="deleteProduct(product)" ng-hide="!loggedIn"
            ng-if="userUID === adminUID" data-toggle="tooltip" data-placement="top" title="Some text"><i
              class="fas fa-trash-alt"></i></button>
        </div>

      </div>
      <a ui-sref=" product({id:product.id})"><img ng-src="{{product.imageurl}}" class="card-img-top" style="height: 200px;
                  object-fit: contain;" alt="..."></a>
      <div class="card-body">
        <a style="text-decoration: none;" ui-sref="product({id:product.id})">
          <h5 class="card-title text-dark font-weight-bold">{{product.name}}</h5>
        </a>
        <span class="badge badge-primary">{{product.category}}</span>
        <p class="card-text">
          <span ng-hide="product.display == ''">Display: {{product.display}}<br></span>
          <span ng-hide="product.gpu == ''">GPU: {{product.gpu}}<br></span>
          RAM: {{product.ram}}<br>
          Processor: {{product.processor}}
        </p>
        <span ng-if="product.discount > 0"><del>{{product.price | currency: '€'}}</del></span>
        <span>{{product.price*(100-product.discount)/100 | currency:'€'}} </span><br>
        <ngcart-addtocart template-url="views/addtocart.html" id="{{product.id}}" name="{{product.name}}"
          price="{{ product.price*(100-product.discount)/100 }}" quantity="1" quantity-max="30" data="item" class="text-white">Add to cart <i
            class="fas fa-cart-plus text-white"></i></ngcart-addtocart>


        <br>

      </div>
  </div>
</div>

