<div class="container d-flex flex-wrap mt-5 mb-5 pt-5" ng-hide="pt">
  <div class="col-md-6">
    <h3 class="text-center">{{product.name}}</h3>
    <img class="productImage" ng-src={{product.imageurl}}>
  </div>
  <div class="col-md-6">
    <h3>Specifications</h3>
    <h5>Processor: {{product.processor}}</h5>
    <h5>RAM: {{product.ram}}</h5>
    <h5 ng-show="product.display != ''">Display: {{product.display}}</h5>
    <h5 ng-show="product.gpu != ''">GPU: {{product.gpu}}</h5>
    <span ng-if="product.discount > 0"><del>{{product.price | currency: '€'}}</del></span>
    <span>{{product.price*(100-product.discount)/100 | currency:'€'}} </span><br>
    <span class="badge badge-primary">Category: {{product.category}}</span><br><br>
    <ngcart-addtocart template-url="views/addtocartSingle.html" id="{{product.id}}" name="{{product.name}}"
      price="{{ product.price*(100-product.discount)/100 }}" quantity="1" quantity-max="30" data="item" class="text-white">Add to cart <i
        class="fas fa-cart-plus text-white"></i></ngcart-addtocart>
  </div>
</div>
<div class="container">
  <ul class="nav nav-tabs" ng-show="product.description">
    <li class="nav-item">
      <a class="nav-link active pl-0" data-toggle="tab" data-target="#home">Product description</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show mt-3" id="home">
      <p ng-bind-html="trustedHtml">{{product.description}}</p>
    </div>
  </div>
</div>