<div class="mt-5 pt-5 d-flex container flex-wrap">
  <div class="col-md-3">
    <section class="filter-section">
      <h3 class="text-center">Filter by price</h3>
      <form method="get" name="price-filters">
        <div class="price-slider">
          <div id="price-range" ya-no-ui-slider="price_slider"></div>
          <div class="values group d-flex">
            <!--data-min-val represent minimal price and data-max-val maximum price respectively in pricing slider range; value="" - default values-->
            <div class="form-group col-sm-6">
              <input class="form-control" name="minVal" id="minVal" type="text" ng-model="price_slider.start[0]">
              <span class="labels">from </span>
            </div>
            <div class="form-group col-sm-6">
              <input class="form-control" name="maxVal" id="maxVal" type="text" ng-model="price_slider.start[1]">
              <span class="labels">to</span>
            </div>
          </div>
          <span ng-click="price_slider.start = [0, 0]" class="clear btn btn-danger d-block btn-sm" id="clearPrice">Clear
          </span>

      </form>

    </section>

    <div class="categorySearch">
      <input type="checkbox" data-ng-model='search.type1' data-ng-true-value="'phones'" data-ng-false-value='' /> Phones
      &nbsp;&nbsp;&nbsp;<br>
      <input type="checkbox" data-ng-model='search.type2' data-ng-true-value="'computers'" data-ng-false-value='' />
      Computers <br>
      <input type="checkbox" data-ng-model='search.type3' data-ng-true-value="'tablets'" data-ng-false-value='' />
      Tablets
    </div>

  </div>
  <div class="col-md-9 d-flex flex-wrap">
    <div class="alert alert-danger d-block col-md-12" ng-show="delete">
      <h5 class="text-center d-block m-0">{{delete}}</h5>
    </div>
    <div class="card mb-4 ml-2 mr-2" style="width:15rem"
      dir-paginate="product in products | filter:pricefilter |reverse | itemsPerPage: 6 |filter:search.type1 | filter:search.type2 |filter:search.type3">
      <a ui-sref=" product({id:product.id})"><img ng-src="{{product.imageurl}}" class="card-img-top" style="height: 200px;
                  object-fit: contain;" alt="..."></a>
      <div class="card-body">
        <a style="text-decoration: none;" ui-sref="product({id:product.id})">
          <h5 class="card-title text-dark font-weight-bold">{{product.name}}</h5>
        </a>
        <span class="badge badge-primary">{{product.category}}</span>
        <p class="card-text">
          <span ng-hide="product.display == ''">Display: {{product.display}}</span><br>
          RAM: {{product.ram}}<br>
          Processor: {{product.processor}}
        </p>
        <span>{{product.price | currency:'€'}} </span><br>
        <ngcart-addtocart template-url="views/addtocart.html" id="{{product.id}}" name="{{product.name}}"
          price="{{ product.price }}" quantity="1" quantity-max="30" data="item" class="text-white">Add to cart <i
            class="fas fa-cart-plus text-white"></i></ngcart-addtocart>

        <br>
        <div class="admin_area">
          <div class="outer d-inline-block" uib-tooltip="Edit" tooltip-trigger="'mouseenter'" tooltip-enable="flag"
            tooltip-is-open="isOpen">
            <div class="layer"></div>
            <a ui-sref="editproduct({id:product.id})" class="btn btn-success btn-sm mt-2 tip-top" ng-hide="!loggedIn"
              ng-if="userUID === adminUID" data-toggle="tooltip" data-placement="top" title="Some text"><i
                class="far fa-edit"></i></a>
          </div>

          <div class="outer d-inline-block" uib-tooltip="Delete" tooltip-trigger="'mouseenter'"
            tooltip-enable="flagDelete" tooltip-is-open="isOpens">
            <div class="layer"></div>
            <button class="btn btn-danger btn-sm mt-2" ng-click="deleteProduct(product)" ng-hide="!loggedIn"
              ng-if="userUID === adminUID" data-toggle="tooltip" data-placement="top" title="Some text"><i
                class="fas fa-trash-alt"></i></button>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-12 d-block">
      <dir-pagination-controls max-size="6" boundary-links="true" template-url="views/dirPagination.tpl.html">
      </dir-pagination-controls>
    </div>
  </div>
</div>