<div class="col-md-6 offset-md-3 mt-3">
    <h3 class="text-center">Register Page</h3>
    <div class="alert alert-success" ng-show="message">{{message}}</div>
<form ng-hide="loggedIn" name="myForm" novalidate ng-submit="register()">
    <div class="form-group">
        <input ng-model="user.firstname" type="text" class="form-control" id="firstname" placeholder="First name" ng-required="true">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="lastname" ng-model="user.lastname" placeholder="Last name" ng-required="true">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" ng-model="user.password" id="exampleInputPassword1" placeholder="Password" ng-required="true">
    </div>

    <div class="form-group">
        <input ng-model="user.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" ng-required="true">
    </div>
    <button type="submit" class="btn btn-primary mb-3" ng-disabled="myForm.$invalid">Register</button>
</form>
Already registered? <br>
<a ui-sref="login" class="btn btn-danger">Login here</a>
</div>